<div class="wrapper">
    <div class="logo">
        <img src="/assets/images/image.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        Login form
    </div>
    <form class="p-3 mt-3" #newForm="ngForm" (ngSubmit)="onLogin(newForm)" novalidate>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" id="email" [(ngModel)]="user.email" name="email" placeholder="Enter your Email"
            ngModel #mail="ngModel" required
            pattern="^([a-zA-Z0-9]+([.!#$%&'*+/=?^_`{|}~-]?[a-zA-Z0-9]+)*|&quot;.+'&quot;)@(\[[0-9]{1,3}(\.[0-9]{1,3}){3}\]|([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,3})$">
        </div>
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="text-danger">
            <div *ngIf="mail.hasError('required')">Email is required</div>
            <div *ngIf="mail.hasError('pattern')">Please enter a valid email</div>
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" id="password" [(ngModel)]="user.password" name="password" placeholder="Enter your Password" ngModel #pass="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
        </div>
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
            <div *ngIf="pass.hasError('required')">Password is required</div>
            <div *ngIf="pass.hasError('pattern')">Please enter a strong password</div>
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <span>Don't have an account?</span><a routerLink="/signup"> Sign up</a>
    </div>
</div>
