.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .wrapper{
    overflow: hidden;
    border: 1px solid black;
    padding: 25px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container form{
    margin-top: 10px;
}
.input-box{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.input-box label {
    color: #333;
    margin-left: 35px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
.wrapper .input-box input{
    margin: auto;
    position: relative;
    height: 50px;
    width: 100%;
    max-width: 400px;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.wrapper .input-box select{
    margin: auto;
    position: relative;
    height: 50px;
    width: 100%;
    max-width: 440px;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
#button{
    background-color: blue;
    color: #fff;
}
.wrapper h2{
    text-align: center;
}
.wrapper .m-35{
    margin-left: 35px;
    color: red;
}